<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.foodisea">
    <!-- Permisos existentes -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> <!-- Permisos para Google Play Services -->
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:name=".FoodiseaApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Foodisea"
        tools:targetApi="31">
        <activity
            android:name=".activity.adminRes.AdminResPerfilActivity"
            android:exported="false" />
        <activity
            android:name=".activity.superadmin.SuperAdminPerfilActivity"
            android:exported="false" />
        <activity
            android:name=".activity.repartidor.RepartidorPerfilActivity"
            android:exported="false" />
        <activity
            android:name=".activity.login.SelectRolActivity"
            android:exported="false" />
        <activity
            android:name=".activity.login.ForgotPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".activity.login.ConfirmRegisterActivity"
            android:exported="false" />
        <activity
            android:name=".activity.login.RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".activity.login.StartAppActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.login.LoginActivity"
            android:exported="false" /> <!-- SERVICIOS -->
        <service
            android:name=".notificaciones.MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name=".activity.cliente.ClienteNotificacionesActivity"
            android:exported="false" />
        <activity
            android:name=".activity.cliente.ClienteInfoPerfilActivity"
            android:exported="false" />
        <activity
            android:name=".activity.cliente.ClientePerfilActivity"
            android:exported="false" />
        <activity
            android:name=".activity.cliente.ClienteComprobanteQrActivity"
            android:exported="false" />
        <activity
            android:name=".activity.cliente.ClienteCompraDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".activity.superadmin.SuperAdminLogsActivity"
            android:exported="false" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.gms.vision.DEPENDENCIES"
            android:value="barcode" />

        <activity
            android:name=".activity.superadmin.SuperAdminAgregarAdministradorActivity"
            android:exported="false" />
        <activity
            android:name=".activity.superadmin.SuperAdminAgregarRestauranteActivity"
            android:exported="false" />
        <activity
            android:name=".activity.superadmin.SuperAdminRestaurantesReportesActivity"
            android:exported="false" />
        <activity
            android:name=".activity.superadmin.SuperAdminGestionAdministradoresActivity"
            android:exported="false" />
        <activity
            android:name=".activity.superadmin.SuperAdminGestionRestauranteActivity"
            android:exported="false" />
        <activity
            android:name=".activity.superadmin.SuperAdminGestionRepartidorActivity"
            android:exported="false" />
        <activity
            android:name=".activity.adminRes.AdminResDetallesPedidosActivity"
            android:exported="false" />
        <activity
            android:name=".activity.adminRes.AdminResPedidosActivity"
            android:exported="false" />
        <activity
            android:name=".activity.adminRes.AdminResDetallesProductoActivity"
            android:exported="false" />
        <activity
            android:name=".activity.superadmin.SuperAdminSelectionActivity"
            android:exported="false" />
        <activity
            android:name=".activity.superadmin.SuperAdminGestionUsuariosActivity"
            android:exported="false" />
        <activity
            android:name=".activity.adminRes.AdminResNuevoProductoActivity"
            android:exported="false" />
        <activity
            android:name=".activity.repartidor.RepartidorChatActivity"
            android:exported="false" />
        <activity
            android:name=".activity.repartidor.RepartidorLlamadaActivity"
            android:exported="false" />
        <activity
            android:name=".activity.repartidor.RepartidorConfirmacionEntregaActivity"
            android:exported="false" />
        <activity
            android:name=".activity.superadmin.SuperadminMainActivity"
            android:exported="false" />
        <activity
            android:name=".activity.repartidor.RepartidorDeliveryMapActivity"
            android:exported="false" />
        <activity
            android:name=".activity.repartidor.RepartidorVerOrdenActivity"
            android:exported="false" />
        <activity
            android:name=".activity.adminRes.AdminResCartaActivity"
            android:exported="false" />
        <activity
            android:name=".activity.adminRes.AdminResHomeActivity"
            android:exported="false" />
        <activity
            android:name=".activity.cliente.ClienteTrackingActivity"
            android:exported="false" />
        <activity
            android:name=".activity.cliente.ConfirmacionPedido"
            android:exported="false" />
        <activity
            android:name=".activity.cliente.ClienteCheckoutActivity"
            android:exported="false" />
        <activity
            android:name=".activity.cliente.ClienteProductoActivity"
            android:exported="false" />
        <activity
            android:name=".activity.cliente.ClienteCarritoActivity"
            android:exported="false" />
        <activity
            android:name=".activity.cliente.ClienteRestauranteActivity"
            android:exported="false" />
        <activity
            android:name=".activity.cliente.ClienteMainActivity"
            android:exported="false" />
        <activity
            android:name=".activity.repartidor.RepartidorRestauranteActivity"
            android:exported="false" />
        <activity
            android:name=".activity.repartidor.RepartidorMainActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
    </application>

</manifest>